
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  #tribute-image {
    text-align: center;
    margin-top: 20px;
  }
  
  #tribute-quotes {
    margin-top: 20px;
  }
  
  footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  h2{
    color:cornflowerblue;
    font-weight: bolder;
    font-size:28px;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  #para{
    color:hotpink;
  }